In [2]:
# Tuple
# Tuples are used to store multiple items in a single variable.
#use () braces for tuple
#A tuple is a collection which is ordered and unchangeable.
tupl=("apple","banana","cherry")
print(type(tupl))

<class 'tuple'>

In [3]:
"""
---> Ordered

When we say that tuples are ordered, 
it means that the items have a defined order, 
and that order will not change.

---> Unchangeable

Tuples are unchangeable, meaning that we cannot change,
add or remove items after the tuple has been created.

---> Allow Duplicates

Since tuples are indexed, they can have items 
with the same value.
"""

#Allow Duplication
tupl=("Ram","Shyam","Hari","Sita","Hari","Gita","Ram","Sarita")
print(tupl)

('Ram', 'Shyam', 'Hari', 'Sita', 'Hari', 'Gita', 'Ram', 'Sarita')

In [4]:
#Length of tuple
tupl=("Ram","Shyam","Hari","Sita","Hari","Gita","Ram","Sarita")
print(tupl)
print(len(tupl))

('Ram', 'Shyam', 'Hari', 'Sita', 'Hari', 'Gita', 'Ram', 'Sarita')
8

In [5]:
# Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [6]:
#Tuple items-Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

# Access Tuple Items

In [7]:
tuples=("Apple","Ball","Cat","Dog","Egg")
print(tuples[1])
#  The first item has index 0.

Ball

In [8]:
#Negative indexing
tuples=("Apple","Ball","Cat","Dog","Egg")
print(tuples[-1])

Egg

In [14]:
# Range of indexes
tuples=("Apple","Ball","Cat","Dog","Egg","Flag","Goat")
print(tuples[2:5])
print(tuples[:4])
print(tuples[3:])
print(tuples[-5:-2])

('Cat', 'Dog', 'Egg')
('Apple', 'Ball', 'Cat', 'Dog')
('Dog', 'Egg', 'Flag', 'Goat')
('Cat', 'Dog', 'Egg')

In [16]:
# Chick if item exists
tuples=("Apple","Ball","Cat","Dog","Egg","Flag","Goat")
if "Apple" in tuples:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Update Tuples

In [17]:
# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

# But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [21]:
#add items
# Convert into a list
tuples=("Ram","Shyam","Hari","Sita")
y=list(tuples)
y.append("Gita")
tuples=tuple(y)
print(tuples)

#  Add tuple to tuple
tuples=("Ram","Shyam","Hari","Sita")
z=("Sarita",)
tuples +=z
print(tuples)

('Ram', 'Shyam', 'Hari', 'Sita', 'Gita')
('Ram', 'Shyam', 'Hari', 'Sita', 'Sarita')

In [23]:
#Remove items
tuples=('Ram', 'Shyam', 'Hari', 'Sita', 'Sarita')
x=list(tuples)
x.remove("Hari")
tuples=tuple(x)
print(tuples)

('Ram', 'Shyam', 'Sita', 'Sarita')

In [ ]:
#using 
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

In [1]:
#Loop in tuple
tuples=("Brahma","Brishnu","Maheshwor")
for i in tuples:
    print(i)

Brahma
Brishnu
Maheshwor

In [2]:
#Loop through the index numbers
tuples=("Brahma","Brishnu","Maheshwor")
for i in range(len(tuples)):
    print(i)

0
1
2

In [7]:
#Use while loop
tuples=("Brahma","Brishnu","Maheshwor")
i=0
while i<len(tuples):
    print(tuples[i])
    i=i+1

Brahma
Brishnu
Maheshwor

# Join Two Tuples

In [8]:
tuple1=("apple","Ball","Cat")
tuple2=("Dog","Egg","Fruit")
tuple3=tuple1+tuple2
print(tuple3)

('apple', 'Ball', 'Cat', 'Dog', 'Egg', 'Fruit')

In [9]:
#multiply tuples
tuple1=("apple","Ball","Cat")
tuples=tuple1*2
print(tuples)

('apple', 'Ball', 'Cat', 'apple', 'Ball', 'Cat')

# Methods in tuples

In [10]:
#Count
"""
The count() method returns the number of times a specified value 
appears in the tuple.
Syntax::::
tuple.count(value)
"""
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [12]:
#Indexes
"""
The index() method finds the first occurrence of the specified value.
The index() method raises an exception if the value is not found.
Syntax:::
tuple.index(value)
"""

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3