# List

In [108]:
"""
Lists are used to store multiple items in a single variable.

Crated using []
"""

'\nLists are used to store multiple items in a single variable.\n\nCrated using []\n'

In [109]:
fruits=["Apple","Banana","Cherry","DragonFruit"]
print(fruits)
print(type(fruits))

numbers=[2,7,9,11,3]
print(numbers[2])

['Apple', 'Banana', 'Cherry', 'DragonFruit']
<class 'list'>
9

In [110]:
#List Items
#List items are ordered, changeable, and allow duplicate values.

In [111]:
fruits=["Apple","Banana","Cherry","Banana","DragonFruit"]
print(fruits[3])
print(fruits)
#length
print(len(fruits))

Banana
['Apple', 'Banana', 'Cherry', 'Banana', 'DragonFruit']
5

In [1]:
# List Items
list1=["Ram","Shyam","Hari","Sita","Hari"]
list2=[2,4,5,6,7,8,9]
list3=[True,False,True]
list4=[2,"Ram",False]
print(list1)
print(list2)
print(list3)
print(list4)

['Ram', 'Shyam', 'Hari', 'Sita', 'Hari']
[2, 4, 5, 6, 7, 8, 9]
[True, False, True]
[2, 'Ram', False]

In [2]:
#The list Constructor ----> list()
list2=[2,4,5,6,7,8,9]
print(type(list2))
list3=list((2,4,5,6,7,8,9))
print(list3)
print(type(list3))

<class 'list'>
[2, 4, 5, 6, 7, 8, 9]
<class 'list'>

# Access List items

In [114]:
list1=["Ram","Shyam","Hari","Sita","Hari"]
print(list1[2])

Hari

In [115]:
#Negative indexing
print(list1[-1])
print(list1[-2])
print(list1[-3])

Hari
Sita
Hari

In [116]:
#Range of Indexes

print(list1[1:4])
print(list1[0])
print(list1[:4])
#Range of Negative indexes
print(list1[-4:-1])

['Shyam', 'Hari', 'Sita']
Ram
['Ram', 'Shyam', 'Hari', 'Sita']
['Shyam', 'Hari', 'Sita']

In [117]:
#Check if item exists:
list4=["Ram","Shyam","Hari","Sita","Hari","Bimal"]
if "Roshan" in list4:
    print("Yes,'Roshan' is in the list4.")
else:
     print("No,'Roshan' is not  in the list4.")

No,'Roshan' is not  in the list4.

# Change List Items

In [118]:
list4=["Ram","Shyam","Hari","Sita","Hari","Bimal"]
list4[4]="Roshan"
print(list4)

['Ram', 'Shyam', 'Hari', 'Sita', 'Roshan', 'Bimal']

In [119]:
# Change a Range of Item Values
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [120]:
#Insert Items
"""
To insert a new list item, without replacing any of the existing values, 
we can use the insert() method.
"""
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

# ADD List Items

In [121]:
#Append Items
fruits=["apple","banana","cherry"]
print(fruits)
fruits.append("dragonfruit")
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'dragonfruit']

In [122]:
#Insert

#The insert() method inserts an item at the specified index.
fruits.insert(3,"Orange")
print(fruits)

['apple', 'banana', 'cherry', 'Orange', 'dragonfruit']

In [123]:
#Extend::
"""
To append elements from another list to the current list, 
use the extend() method.
:
"""

fruits1=["Mango","pinapple","kiwi","Grapes"]
fruits.extend(fruits1)
print(fruits)

['apple', 'banana', 'cherry', 'Orange', 'dragonfruit', 'Mango', 'pinapple', 'kiwi', 'Grapes']

# Remove list items

In [124]:
#use remove() method
list_items=["Anil","Sujan","Anu","Sonam","Rama","Kriti"]
list_items.remove("Sonam")
print(list_items)

['Anil', 'Sujan', 'Anu', 'Rama', 'Kriti']

In [125]:
#Remove Specified index using stack pop
list_items=["Anil","Sujan","Anu","Sonam","Rama","Kriti"]
list_items.pop(3)
print(list_items)

['Anil', 'Sujan', 'Anu', 'Rama', 'Kriti']

In [126]:
#use del keyword to remove index

list_items=["Anil","Sujan","Anu","Sonam","Rama","Kriti"]
del list_items[0:3]
print(list_items)

['Sonam', 'Rama', 'Kriti']

In [127]:
#Clear the List
#The clear() method empties the list.
list_items=["Anil","Sujan","Anu","Sonam","Rama","Kriti"]
list_items.clear()
print(list_items)

[]

# Loop in Lists

In [128]:
list_items=["Anil","Sujan","Anu","Sonam","Rama","Kriti"]
for i in range(len(list_items)):
               print(list_items[i])

Anil
Sujan
Anu
Sonam
Rama
Kriti

In [129]:
list_items=["Anil","Sujan","Anu","Sonam","Rama","Kriti"]
for i in list_items:
    print(i)

Anil
Sujan
Anu
Sonam
Rama
Kriti

In [130]:
list_items=["Anil","Sujan","Anu","Sonam","Rama","Kriti"]
i=0
while(i<len(list_items)):
    print(list_items[i])
    i=i+1

Anil
Sujan
Anu
Sonam
Rama
Kriti

# List Comprehension

In [131]:
# List Comprehension offers a shorter index when we want to create a new list nased on the values of an existing list.
# जब हामी अवस्थित सूचीको मानहरूमा नयाँ सूची सिर्जना गर्न चाहन्छौं भने सूची समझले छोटो अनुक्रमणिका प्रदान गर्दछ।
"""List Comprehensions:
    [expression for val in collection]
    [expression for val in collection if <test>]
    [expression for val in collection if <test1> and <test2>]
    [expression for val1 in collection1 and val2 in collection2]
    """

'List Comprehensions:\n    [expression for val in collection]\n    [expression for val in collection if <test>]\n    [expression for val in collection if <test1> and <test2>]\n    [expression for val1 in collection1 and val2 in collection2]\n    '

In [132]:
squares=[]
for i in range(1,101):
    squares.append(i**2)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [133]:

squares2=[i**2 for i in range(1,101)]
print(squares2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [134]:
remainders5=[x**2%5 for x in range(1,101)]
print(remainders5)

[1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0]

In [135]:
remainders11=[x**2%11 for x in range(1,101)]
print(remainders11)

[1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1]

In [136]:
movies=["Logan","Beauty and the Beast","Deadpool","Man of Steel","Titanic","Avatar","Gravity","The Dark Night","Batman Begins ","Guardians of the Galaxy "," Ted","Avengers: Age of Ultron ","Iron Man","Skyfall"," Mission: Impossible - Fallout "]
gmovies=[]
for title in movies:
    if title.startswith("G"):
        gmovies.append(title)
print(gmovies)

['Gravity', 'Guardians of the Galaxy ']

In [137]:
gmovies=[title for title in movies if title.startswith("G")]
print(gmovies)

['Gravity', 'Guardians of the Galaxy ']

In [138]:
#Cartesian Product
A=[1,3,5,7]
B=[2,4,6,8]
cartesian_Product=[(a,b) for a in A for b in B]
print(cartesian_Product)

[(1, 2), (1, 4), (1, 6), (1, 8), (3, 2), (3, 4), (3, 6), (3, 8), (5, 2), (5, 4), (5, 6), (5, 8), (7, 2), (7, 4), (7, 6), (7, 8)]

# Sorting in list

In [139]:
#Sorting is the process of arranging data items either ascending or descending
list_items=["Anil","Sujan","Anu","Sonam","Rama","Kriti"]
list_items.sort()
print(list_items)

print()
#for Descending
list_items.sort(reverse=True)
print(list_items)

['Anil', 'Anu', 'Kriti', 'Rama', 'Sonam', 'Sujan']

['Sujan', 'Sonam', 'Rama', 'Kriti', 'Anu', 'Anil']

In [143]:
#Ascending
numbers=[40,31,37,47,51,43,67,72,25]
numbers.sort()
print(numbers)

[25, 31, 37, 40, 43, 47, 51, 67, 72]

In [146]:
#Descending
numbers=[40,31,37,47,51,43,67,72,25]
numbers.sort(reverse=True)
print(numbers)

#Ascending 
print()
numbers.sort(reverse=False)
print(numbers)

[72, 67, 51, 47, 43, 40, 37, 31, 25]

[25, 31, 37, 40, 43, 47, 51, 67, 72]

In [147]:
# Case sensitive 
fruits=["Apple","banana","cherry","Dragonfruit"]
fruits.sort()
print(fruits)

['Apple', 'Dragonfruit', 'banana', 'cherry']

In [148]:
#Case insensitive
fruits=["Apple","banana","cherry","Dragonfruit"]
fruits.sort(key=str.lower)
print(fruits)

['Apple', 'banana', 'cherry', 'Dragonfruit']

# Methods of Lists

In [ ]:
#Copy list

In [149]:
list1=["Ram","Shyam","Hari"]
list2=list1.copy()
print(list2)

['Ram', 'Shyam', 'Hari']

In [ ]:
#Join lists

In [151]:
list1=["Ram","Shyam","Hari"]
list2=["Sita","Gita","Sarita"]
list3=list1+list2
print(list3)

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Sarita']

In [152]:
list1=["Ram","Shyam","Hari"]
list2=["Sita","Gita","Sarita"]
for i in list2:
    list1.append(i)
print(list1)

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Sarita']

In [153]:
#use extend() method
list1=["Ram","Shyam","Hari"]
list2=["Sita","Gita","Sarita"]
list1.extend(list2)
print(list1)

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Sarita']

In [155]:
#counts
lists=['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Sarita']
i=lists.count("Sita")
print(i)

1