In [3]:
example=set()
dir(example)

Help on built-in function add:

add(...) method of builtins.set instance
    Add an element to a set.

    This has no effect if the element is already present.

In [4]:
help(example.add)

Help on built-in function add:

add(...) method of builtins.set instance
    Add an element to a set.

    This has no effect if the element is already present.

In [5]:
#This has no effct if the element is alrady present.
example.add(42)
example.add(False)
example.add(3.14159)
example.add("Ram")
example.add("Shyam")
example.add("Hari")
example

{3.14159, 42, False, 'Hari', 'Ram', 'Shyam'}

In [7]:
#Set
#Sets are used to store multiple items in a single variable.
sets={3.14159, 42, False, 'Hari', 'Ram', 'Shyam'}
print(sets)
print(len(sets))

"""
Set Items
Set items are unordered, unchangeable, 
and do not allow duplicate values.
"""

{False, 'Hari', 3.14159, 'Shyam', 42, 'Ram'}
6

'\nSet Items\nSet items are unordered, unchangeable, \nand do not allow duplicate values.\n'

In [10]:
#A set can contain different data types:
sets={3.14159, 42, False, 'Hari', 'Ram', 'Shyam'}
print(sets)
print(type(sets))

{False, 'Hari', 3.14159, 'Shyam', 42, 'Ram'}
<class 'set'>

In [12]:
#Data types

set1={1,2,3,4,5}
set2={1.1,1.2,1.3,1.4,1.5}
set3={"Ram","Shyam","Hari"}
set4={True,False,True,False}
print(type(set1))
print(type(set2))
print(type(set3))
print(type(set4))

#Note::: A Set own  is a data type.

<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>

In [14]:
"""
The set() Constructor
It is also possible to use the set() constructor to make a set.
"""
set3=(("Ram","Shyam","Hari"))
print(set3)
print(type(set3))

('Ram', 'Shyam', 'Hari')
<class 'tuple'>

# Python - Access Set Items

In [2]:
"""
Access Items:::
            
We cannot access items in a set by referring to an index or a key.

But we can loop through the set items using a for loop, or ask if a specified value is present in a 
set, by using the in keyword.

"""
set3={"Ram","Shyam","Hari"}
for i in set3:
    print(i)
    
set3={"Ram","Shyam","Hari"}


print("\n----------------------------")
print("Sita" in set3)
print("Ram" in set3)

Shyam
Ram
Hari

----------------------------
False
True

# Python - Add Set Items

In [22]:
# To add one item to a set use the add() method.


fruits={"apple","banana","Cherry"}
fruits.add("mango")
print(fruits)

{'banana', 'apple', 'Cherry', 'mango'}

In [23]:
#Using update method

fruits={"apple","banana","Cherry"}
fruit={"mango","jackfruit","grapes"}
fruits.update(fruit)
print(fruits)

{'jackfruit', 'mango', 'apple', 'Cherry', 'banana', 'grapes'}

# Python - Remove Set Items

In [28]:
fruits={'jackfruit', 'mango', 'apple', 'Cherry', 'banana', 'grapes'}
fruits.remove("jackfruit")
fruits.discard("mango")
print(fruits)


# Note::: To remove an item in a set, use the remove(),or the discard() method.

{'apple', 'Cherry', 'banana', 'grapes'}

In [29]:
#Using pop method  (Stack method)
fruits={'jackfruit', 'mango', 'apple', 'Cherry', 'banana', 'grapes'}
i=fruits.pop()
print(i)
print(fruits)

jackfruit
{'mango', 'apple', 'Cherry', 'banana', 'grapes'}

In [30]:
#Using Clear method  (It empties the set.)
fruits={'jackfruit', 'mango', 'apple', 'Cherry', 'banana', 'grapes'}
fruits.clear()
print(fruits)

set()

In [1]:
# #Using del keyword   (The del keyword will delete the set completely.)
# fruits={'jackfruit', 'mango', 'apple', 'Cherry', 'banana', 'grapes'}
# del fruits
# print(fruits)

In [36]:
#Set methods

#	Return a set containing the union of sets
#Union
set1={1,3,5,7,9}
set2={2,4,6,8,10}
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [35]:

#Returns a set, that is the intersection of two or more sets
#Intersection
set3={1,3,5,6,9}
set4={2,4,6,8,9,10}
set3.intersection(set4)

{6, 9}

In [38]:
#difference
#	Returns a set containing the difference between two or more sets

set3={1,3,5,6,9}
set4={2,4,6,8,9,10}
set3.difference(set4)

{1, 3, 5}